* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  color: #0f0f0f;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: hsla(0deg, 0%, 100%, 0.7);
  backdrop-filter: blur(5px);
  width: 100%;
}
header .header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding: 12px 50px;
}
header .header_content .header_logo {
  margin-top: 4px;
}
header .header_content .header_logo img {
  width: 142px;
  margin-top: 4px;
}
header .header_content .header_nav {
  display: flex;
  margin-left: 24px;
  align-items: center;
}
header .header_content .header_nav ul {
  text-align: end;
  padding-right: 12px;
}
header .header_content .header_nav ul li {
  display: inline;
  margin-right: 4px;
  margin-left: 4px;
  padding: 6px 8px;
}
header .header_content .header_nav ul li a {
  text-decoration: none;
  color: #222222;
  font-size: 15px;
  font-weight: 500;
}
header .header_content .header_nav ul li a:hover {
  color: #0075eb;
}
header .header_content .header_nav .header_social {
  margin-right: 16px;
}
header .header_content .header_nav .header_social a {
  width: 20px;
  height: 20px;
}
header .header_content .header_nav .header_social a i {
  color: #0075eb;
  font-size: 28px;
}

.section.banner {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-top: -75px;
  padding-top: 250px;
  padding-bottom: 170px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}
.section.banner .banner_content {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section.banner .banner_content .banner_logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  display: block;
}
.section.banner .banner_content .banner_paragraph {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.section.banner .banner_content .banner_paragraph p {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: bold;
}
.section.banner .banner_content .banner_img1 {
  position: absolute;
  right: -550px;
  bottom: -240px;
  z-index: -1;
  transform: rotate(-14deg);
}
.section.banner .banner_content .banner_img2 {
  position: absolute;
  left: -392px;
  top: -428px;
  z-index: -1;
  transform: rotate(-14deg);
}
.section.banner .banner_content .banner_img3 {
  position: absolute;
  top: 335px;
  right: 40px;
  z-index: -1;
  transform: rotate(11deg);
}
.section.banner .banner_content .banner_img4 {
  position: absolute;
  top: -366px;
  right: 243px;
  z-index: -1;
  transform: rotate(29deg);
}
.section.banner .banner_content .banner_img5 {
  position: absolute;
  top: -183px;
  right: -264px;
  z-index: -1;
  transform: rotate(-9deg);
}
.section.banner .banner_content .banner_img6 {
  position: absolute;
  left: -195px;
  z-index: -1;
  transform: rotate(11deg);
}
.section.banner .banner_content .banner_img {
  display: block;
  width: 100%;
  max-width: none;
}

.about {
  background-color: #0075eb;
  color: #fff;
}
.about .about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about_content .about_text {
  position: relative;
  max-width: 500px;
}
.about .about_content .about_text .about_logo {
  position: absolute;
  left: 27px;
  top: 45px;
  width: 284px;
}
.about .about_content .about_text .paragraph {
  padding: 15px 0;
}
.about .about_content .about_text .green-button {
  margin-top: 16px;
}
.about .about_content .about_img {
  margin-right: 50px;
}

.slider {
  overflow: hidden;
}
.slider .slider_row {
  width: 200%;
  margin-bottom: 16px;
}
.slider .slider_row .slider_list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.slider .slider_row .slider_list .slider_item img {
  width: 100%;
}

.roadmap {
  background-color: #dfeeff;
}
.roadmap .roadmap_content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.roadmap .roadmap_content .roadmap_img {
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
}
.roadmap .roadmap_content .roadmap_img img {
  width: 382px;
  position: relative;
  display: block;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}
.roadmap .roadmap_content .roadmap_text {
  max-width: 500px;
  position: relative;
}
.roadmap .roadmap_content .roadmap_text .roadmap_logo {
  position: absolute;
  top: 0;
  width: 202px;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block {
  margin-bottom: 24px;
  padding: 20px 24px 8px;
  border-radius: 6px;
  background-color: #fff;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block .block_title {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 1.4em;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block .block_title span {
  margin-right: 4px;
  color: #0075eb;
  font-size: 18px;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block p {
  opacity: 0.8;
  font-size: 16px;
}

.blue-button {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #0075eb;
  border: none;
  box-shadow: 0 2px 0 0 hsla(0deg, 0%, 100%, 0.2);
  padding: 10px 20px;
  cursor: pointer;
}
.blue-button:hover {
  background-color: #0259b1;
}

.green-button {
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #cff800;
  border: none;
  box-shadow: 0 2px 0 0 hsla(0deg, 0%, 100%, 0.2);
  padding: 10px 32px;
  cursor: pointer;
}
.green-button:hover {
  background-color: #bbe600;
}

.container {
  display: block;
  width: 100%;
  max-width: 1230px;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;
}

.section {
  position: relative;
  z-index: 0;
  padding-top: 96px;
  padding-bottom: 96px;
}

.heading {
  margin: 0;
  margin-bottom: 24px;
  font-size: 90px;
  line-height: 1.2em;
  font-weight: 700;
}
.heading.h2 {
  margin-bottom: 20px;
  font-size: 46px;
  line-height: 1.2em;
}

.paragraph {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid rgba(207, 248, 0, 0.5);
  transition: border-color 200ms ease, color 200ms ease;
  color: #cff800;
}
.link:hover {
  border-bottom-color: #cff800;
  color: #bbe600;
}/*# sourceMappingURL=main.css.map */