* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  color: #0f0f0f;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: hsla(0deg, 0%, 100%, 0.7);
  backdrop-filter: blur(5px);
  width: 100%;
}
header .header_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding: 12px 50px;
  position: relative;
}
header .header_content .header_logo {
  margin-top: 4px;
}
header .header_content .header_logo img {
  width: 142px;
  margin-top: 4px;
}
header .header_content .header_nav {
  display: flex;
  align-items: center;
}
header .header_content .header_nav .drop_menu {
  padding: 0;
  text-align: end;
  padding-right: 12px;
}
header .header_content .header_nav .drop_menu li {
  display: inline;
  padding: 6px 8px;
}
header .header_content .header_nav .drop_menu li a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 500;
}
header .header_content .header_nav .drop_menu li a:hover {
  color: #0075eb;
}
header .header_content .header_nav .header_social {
  margin-right: 16px;
}
header .header_content .header_nav .header_social a {
  width: 20px;
  height: 20px;
}
header .header_content .header_nav .header_social a i {
  color: #0075eb;
  font-size: 28px;
}
header .header_content .header_nav .blue-button {
  padding-right: 12px;
  padding-left: 12px;
}
header .header_content .nav_menu_button {
  width: 56px;
  height: 56px;
  line-height: 70px;
  text-align: center;
  display: none;
}
header .header_content .nav_menu_button i {
  font-size: 32px;
}
@media (max-width: 768px) {
  header .header_content .header_nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 24px;
    padding-bottom: 40px;
    padding-top: 16px;
    display: none;
    overflow: hidden;
    transition: 0.5s;
  }
  header .header_content .header_nav .drop_menu li {
    display: block;
    text-align: center;
    padding: 12px;
  }
  header .header_content .header_nav .drop_menu li a {
    font-size: 18px;
  }
  header .header_content .header_nav .header_button {
    margin-top: 24px;
    width: 100%;
  }
  header .header_content .header_nav .header_button .blue-button {
    width: 100%;
    font-size: 18px;
    padding: 12px 16px;
  }
  header .header_content .header_nav .header_social a {
    margin: 14px;
  }
  header .header_content .header_nav .header_social a i {
    font-size: 32px;
  }
  header .header_content .header_nav.active {
    display: block;
  }
  header .header_content .nav_menu_button {
    display: block;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
}

.section.banner {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-top: -75px;
  padding-top: 250px;
  padding-bottom: 170px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}
.section.banner .banner_content {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section.banner .banner_content .banner_logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  display: block;
}
.section.banner .banner_content .banner_paragraph {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.section.banner .banner_content .banner_img1 {
  position: absolute;
  right: -550px;
  bottom: -240px;
  z-index: -1;
  transform: rotate(-14deg);
}
.section.banner .banner_content .banner_img2 {
  position: absolute;
  left: -392px;
  top: -428px;
  z-index: -1;
  transform: rotate(-14deg);
}
.section.banner .banner_content .banner_img3 {
  position: absolute;
  top: 335px;
  right: 40px;
  z-index: -1;
  transform: rotate(11deg);
}
.section.banner .banner_content .banner_img4 {
  position: absolute;
  top: -366px;
  right: 243px;
  z-index: -1;
  transform: rotate(29deg);
}
.section.banner .banner_content .banner_img5 {
  position: absolute;
  top: -183px;
  right: -264px;
  z-index: -1;
  transform: rotate(-9deg);
}
.section.banner .banner_content .banner_img6 {
  position: absolute;
  left: -195px;
  z-index: -1;
  transform: rotate(11deg);
}
.section.banner .banner_content .banner_img {
  display: block;
  width: 100%;
  max-width: none;
}
@media (max-width: 768px) {
  .section.banner .banner_content .banner_logo {
    display: none;
  }
  .section.banner .banner_content .banner_img3 {
    top: 305px;
  }
  .section.banner .banner_content .banner_img4 {
    top: -316px;
  }
  .section.banner .banner_content .banner_img5 {
    right: -104px;
  }
  .section.banner .banner_content .banner_img6 {
    left: -108px;
    top: 133px;
  }
  .section.banner .banner_content .banner_img {
    width: 200px;
  }
}

.about {
  background-color: #0075eb;
  color: #fff;
}
.about .about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about_content .about_text {
  position: relative;
  max-width: 500px;
}
.about .about_content .about_text .about_logo {
  position: absolute;
  left: 27px;
  top: 45px;
  width: 284px;
}
.about .about_content .about_text .paragraph {
  padding: 15px 0;
}
.about .about_content .about_text .green-button {
  margin-top: 16px;
}
.about .about_content .about_img {
  margin-right: 50px;
}
@media (max-width: 992px) {
  .about .about_content .about_img {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .about .about_content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .about .about_content .about_text .about_logo {
    display: none;
  }
  .about .about_content .about_img {
    max-width: 50%;
    margin-bottom: 40px;
  }
}

.slider {
  overflow: hidden;
}
.slider .slider_row {
  width: 200%;
  margin-bottom: 16px;
}
.slider .slider_row .slider_list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;
}
.slider .slider_row .slider_list .slider_item img {
  width: 100%;
  display: block;
  max-width: none;
}
@media (max-width: 768px) {
  .slider .slider_row {
    width: 300%;
  }
  .slider .slider_row .slider_list .slider_item img {
    width: 200px;
  }
}

.roadmap {
  background-color: #dfeeff;
}
.roadmap .roadmap_content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.roadmap .roadmap_content .roadmap_img {
  width: 48%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
}
.roadmap .roadmap_content .roadmap_img img {
  width: 382px;
  position: relative;
  display: block;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}
.roadmap .roadmap_content .roadmap_text {
  width: 48%;
  max-width: 500px;
  position: relative;
}
.roadmap .roadmap_content .roadmap_text .roadmap_logo {
  position: absolute;
  top: -15px;
  width: 202px;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block {
  margin-bottom: 24px;
  padding: 20px 24px 8px;
  border-radius: 6px;
  background-color: #fff;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block .block_title {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 1.4em;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block .block_title span {
  margin-right: 4px;
  color: #0075eb;
  font-size: 18px;
}
.roadmap .roadmap_content .roadmap_text .roadmap_block p {
  opacity: 0.8;
  font-size: 16px;
}
@media (max-width: 768px) {
  .roadmap .roadmap_content .roadmap_img {
    display: none;
  }
  .roadmap .roadmap_content .roadmap_text {
    width: 100%;
  }
  .roadmap .roadmap_content .roadmap_text .roadmap_logo {
    display: none;
  }
}

.rarity .rarity_content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rarity .rarity_content .rarity_text {
  width: 48%;
  max-width: 500px;
  position: relative;
}
.rarity .rarity_content .rarity_text .rarity_logo {
  position: absolute;
  top: -15px;
  width: 130px;
}
.rarity .rarity_content .rarity_text .paragraph {
  margin-bottom: 26px;
}
.rarity .rarity_content .rarity_text .rarity_block {
  width: 320px;
  margin-bottom: 8px;
  padding: 10px 16px;
  border-radius: 3px;
  background-color: #f7f9fa;
  font-size: 18px;
  line-height: 1.2em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rarity .rarity_content .rarity_text .rarity_block.back-lime {
  background-color: #fbffe7;
}
.rarity .rarity_content .rarity_text .rarity_block.faint-lime {
  background-color: #f3ffb6;
}
.rarity .rarity_content .rarity_text .rarity_block.soft-lime {
  background-color: #eaff81;
}
.rarity .rarity_content .rarity_text .rarity_block.lime {
  background-color: #cff800;
}
.rarity .rarity_content .rarity_text .rarity_block.dark-lime {
  background-color: #bbe600;
}
.rarity .rarity_content .rarity_text p {
  margin: 0;
}
.rarity .rarity_content .rarity_img {
  width: 48%;
}
.rarity .rarity_content .rarity_img img {
  width: 644px;
}
@media (max-width: 768px) {
  .rarity .rarity_content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .rarity .rarity_content .rarity_text {
    width: 100%;
    text-align: center;
  }
  .rarity .rarity_content .rarity_text .rarity_logo {
    display: none;
  }
  .rarity .rarity_content .rarity_text .rarity_block {
    width: 100%;
  }
  .rarity .rarity_content .rarity_img {
    width: 100%;
    margin-bottom: 40px;
  }
}

.creator {
  background-color: #0075eb;
  color: #fff;
}
.creator .creator_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.creator .creator_content .creator_text {
  width: 48%;
  position: relative;
  max-width: 500px;
}
.creator .creator_content .creator_text .creator_logo {
  position: absolute;
  top: -15px;
  width: 161px;
}
.creator .creator_content .creator_text .paragraph {
  padding: 8px 0;
}
.creator .creator_content .creator_text .green-button {
  margin-top: 16px;
}
.creator .creator_content .creator_img {
  width: 48%;
  margin-right: 50px;
  width: 460px;
}
@media (max-width: 768px) {
  .creator .creator_content {
    flex-direction: column;
    align-items: flex-start;
  }
  .creator .creator_content .creator_text {
    width: 100%;
  }
  .creator .creator_content .creator_text .creator_logo {
    display: none;
  }
  .creator .creator_content .creator_img {
    width: 100%;
    max-width: 50%;
    margin-bottom: 40px;
  }
}

.questions .questions_content {
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
}
.questions .questions_content h2 {
  margin-bottom: 40px;
}
.questions .questions_content .list_questions {
  overflow: hidden;
}
.questions .questions_content .list_questions .questions_block {
  width: 100%;
  margin-bottom: 8px;
  padding: 28px 28px 16px;
  border-radius: 6px;
  background-color: #f1f8ff;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
.questions .questions_content .list_questions .questions_block .question {
  display: flex;
  justify-content: space-between;
}
.questions .questions_content .list_questions .questions_block .question img {
  transform: rotate(0);
  transition: transform 0.3s ease-out;
}
.questions .questions_content .list_questions .questions_block .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.questions .questions_content .list_questions .questions_block.active .question img {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .questions .questions_content .list_questions .questions_block .answer p {
    font-size: 15px;
  }
}

.avatar {
  background-color: #cff800;
  overflow: hidden;
}
.avatar .avatar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar .avatar_content .avatar_text {
  position: relative;
  max-width: 500px;
}
.avatar .avatar_content .avatar_text .paragraph {
  margin-bottom: 40px;
}
.avatar .avatar_content .avatar_text .blue-button {
  font-size: 18px;
}
.avatar .avatar_content .avatar_img {
  position: relative;
  display: block;
  width: 110%;
  max-width: 110%;
  margin: -418px auto;
}
@media (max-width: 768px) {
  .avatar .avatar_content .avatar_text {
    width: 100%;
  }
  .avatar .avatar_content .avatar_img {
    display: none;
  }
}

footer {
  background-color: #f7f9fa;
}
footer.section {
  padding-bottom: 50px;
}
footer .footer_grid {
  display: grid;
  justify-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 64px;
  grid-template-columns: 2fr 1fr;
}
footer .footer_grid .footer_mainbox {
  max-width: 450px;
}
footer .footer_grid .footer_mainbox .footer_logo {
  width: 156px;
}
footer .footer_grid .footer_link {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
footer .footer_grid .footer_link h5 {
  color: #99a4af;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}
footer .footer_grid .footer_link a {
  display: block;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 200ms ease-in-out;
  color: #0f0f0f;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}
footer .footer_grid .footer_link a:hover {
  color: #626a72;
}
footer .footer_grid .footer_copyright {
  max-width: 500px;
  grid-column: 1/2;
  grid-row: 2/3;
}
footer .footer_grid .footer_social a {
  display: inline-block;
}
footer .footer_grid .footer_social a i {
  width: 40px;
  height: 40px;
  padding: 8px;
  font-size: 24px;
  color: #0075eb;
  border: 1px solid #dfeeff;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 200ms ease, color 200ms ease;
  display: inline-block;
}
footer .footer_grid .footer_social a i:hover {
  background-color: #dfeeff;
}
@media (max-width: 992px) {
  footer .footer_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  footer .footer_grid {
    grid-template-columns: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 32px;
  }
  footer .footer_grid .footer_copyright {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.blue-button {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #0075eb;
  border: none;
  box-shadow: 0 2px 0 0 hsla(0deg, 0%, 100%, 0.2);
  padding: 10px 32px;
  cursor: pointer;
}
.blue-button:hover {
  background-color: #0259b1;
}

.green-button {
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #cff800;
  border: none;
  box-shadow: 0 2px 0 0 hsla(0deg, 0%, 100%, 0.2);
  padding: 10px 32px;
  cursor: pointer;
}
.green-button:hover {
  background-color: #bbe600;
}

.container {
  display: block;
  width: 100%;
  max-width: 1230px;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;
}
@media (max-width: 992px) {
  .container {
    padding: 0 30px;
  }
}

.section {
  position: relative;
  z-index: 0;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media (max-width: 768px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.heading {
  margin: 0;
  margin-bottom: 5px;
  font-size: 90px;
  line-height: 1.2em;
  font-weight: 700;
}
.heading.h2 {
  margin-bottom: 20px;
  font-size: 46px;
  line-height: 1.2em;
}
.heading.h4 {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1.4em;
}
@media (max-width: 768px) {
  .heading {
    font-size: 60px;
  }
  .heading.h2 {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.2em;
  }
  .heading.h4 {
    font-size: 20px;
  }
}

.paragraph {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}
.paragraph.large {
  font-size: 20px;
  line-height: 1.4em;
}
.paragraph.extra-large {
  font-size: 24px;
  line-height: 1.4em;
}
.paragraph.small {
  opacity: 0.75;
  font-size: 14px;
  line-height: 1.4em;
}
@media (max-width: 768px) {
  .paragraph {
    font-size: 17px;
  }
  .paragraph.large {
    font-size: 20px;
    line-height: 1.4em;
  }
  .paragraph.extra-large {
    font-size: 21px;
    line-height: 1.4em;
  }
  .paragraph.small {
    opacity: 0.75;
    font-size: 14px;
    line-height: 1.4em;
  }
}

.link {
  text-decoration: none;
  border-bottom: 1px solid rgba(207, 248, 0, 0.5);
  transition: border-color 200ms ease, color 200ms ease;
  color: #cff800;
}
.link:hover {
  border-bottom-color: #cff800;
  color: #bbe600;
}
.link.blue {
  border-bottom-color: #9dcbf8;
  color: #0075eb;
}
.link.blue:hover {
  border-bottom-color: #0075eb;
  color: #0259b1;
}/*# sourceMappingURL=main.css.map */