.container{
    display: block;
    width: 100%;
    max-width: 1230px;
    min-height: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $pd-3;
    padding-left: $pd-3;
    justify-content: center;
    @include respond-to('lg') {
        padding: 0 $pd-8 - 2;
    }
}