.heading{
    margin: 0;
    margin-bottom: $mg-0 + 1;
    font-size: $fs-2;
    line-height: 1.2em;
    font-weight: 700;
    &.h2{
        margin-bottom: $mg-1 - 4;
        font-size: $fs-3;
        line-height: 1.2em;
    }
    &.h4{
        margin-bottom: $mg-0;
        font-size: $fs-1;
        line-height: 1.4em;
    }
    @include respond-to('md') {
        font-size: $fs-5;
        &.h2{
            margin-bottom: $mg-2;
            font-size: $fs-4 + 4;
            line-height: 1.2em;
        }
    }
}