.link{
    text-decoration: none;
    border-bottom: 1px solid rgba(207, 248, 0, 0.5);
    transition: border-color 200ms ease, color 200ms ease;
    color: $color-green-3;   
    &:hover{
        border-bottom-color: $color-green-3;
        color: $color-green-4;
    }
    &.blue{
        border-bottom-color: $color-blue-5;
        color: $color-blue-0;
        &:hover{
            border-bottom-color: $color-blue-0;
            color: $color-blue-3;
        }
    }
}