*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: $fs-0;
    line-height: $lh-0;
    background-color: $color-white-0;
    color: $color-black-0;
    letter-spacing: -0.2px;
    margin: 0;
    padding: 0;
}