// color 

$color-black-0:#0f0f0f;
$color-black-1:#222222;
$color-white-0:#fff;
$color-blue-0:#0075eb;
$color-blue-1:#f1f8ff;
$color-blue-2:#003b77;
$color-blue-3:#0259b1;
$color-blue-4:#dfeeff;
$color-green-0:#fbffe7;
$color-green-1:#f3ffb6;
$color-green-2:#eaff81;
$color-green-3:#cff800;
$color-green-4:#bbe600;
$color-gray-0:#99a4af;
$color-gray-1:#626a72;
$color-gray-2:#f7f9fa;

//lineheight

$lh-0:20px;

//font size

$fs-0:16px;
$fs-1:24px;
$fs-2:90px;
$fs-3:46px;

//font weight

$fw-0:500;
$fw-1:400;

//margin

$mg-0:4px;
$mg-1:24px;
$mg-2:16px;
$mg-3:-75px;
$mg-4:40px;

//padding

$pd-0:12px;
$pd-1:6px;
$pd-2:8px;
$pd-3:50px;
$pd-4:170px;
$pd-5:250px;
$pd-6:96px;
$pd-7:20px;
$pd-8:32px;

