.section.banner{
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: $mg-3;
    padding-top: $pd-5;
    padding-bottom: $pd-4;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    .banner_content{
        position: relative;
        max-width: 650px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .banner_logo{
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 400px;
            display: block;
        }
        .banner_paragraph{
            max-width: 550px;
            margin: 0 auto;
            margin-bottom: $mg-1;
        }
        .banner_img1{
            position: absolute;
            right: -550px;
            bottom: -240px;
            z-index: -1;
            transform: rotate(-14deg);
        }
        .banner_img2{
            position: absolute;
            left: -392px;
            top: -428px;
            z-index: -1;
            transform: rotate(-14deg);
        }
        .banner_img3{
            position: absolute;
            top: 335px;
            right: 40px;
            z-index: -1;
            transform: rotate(11deg);
        }
        .banner_img4{
            position: absolute;
            top: -366px;
            right: 243px;
            z-index: -1;
            transform: rotate(29deg);
        }
        .banner_img5{
            position: absolute;
            top: -183px;
            right: -264px;
            z-index: -1;
            transform: rotate(-9deg);
        }
        .banner_img6{
            position: absolute;
            left: -195px;
            z-index: -1;
            transform: rotate(11deg);
        }
        .banner_img{
            display: block;
            width: 100%;
            max-width: none;
        }
    }
    @include respond-to('md') {
        .banner_content{
            .banner_logo{
                display: none;
            }
            .banner_img3{
                top: 305px;
            }
            .banner_img4{
                top: -316px;
            }
            .banner_img5{
                right: -104px;
            }
            .banner_img6{
                left: -108px;
                top: 133px;
            }
            .banner_img{
                width: 200px;
            }
        }
    }
}